@import '../../styles/mixins/breakpoints.scss';



.keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    --key-width: 30px;
  
    .keyboardcontainer {
      width: 100%;
      display: flex;
      justify-content: center;
      border-radius: 7px 7px 0 0;
      background: whitesmoke;
      box-shadow: 0 0 3px var(--base-block);
      
      .container {
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet {
          width: 95%;
        }
      
        @include tablet {
          padding: 10px;
        }
  
        
        .row {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;

          @include mobile {
            display: none;
          }
        
          
          .key {
            display: flex;
            width: var(--key-width);
            height: 30px;
            margin: 2px;
            justify-content: center;
            align-items: center;
            background-color: var(--base-block);
            border-radius: 4px;
            color: #ffffff;
            font-size: 14px;
            cursor: pointer;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            transition: background-color ease-in-out 0.15s;
            flex-direction: row;
            justify-content: space-around;
            transform: rotateX(20deg);
            box-shadow: 0 2px 1px black;

            &:hover {
              background-color: var(--key-hover);
            }
            &:active {
              
              box-shadow:  none;
              transform: translateY(2px);
            }
            
          }
  
          &:first-child {

            display: none;

            @include mobile {
              display: flex;
              .key {
                &:nth-last-child(2),
                &:nth-last-child(3),
                &:nth-last-child(4) {
                  display: none;
                }
              }
              

            }

            .key {
              &:first-child {
                width: calc(var(--key-width) * 2);
                flex: auto;
                display: none;

                @include mobile {
                  display: flex;
                }
              }
  
              &:last-child {
                display: none;
                width: calc(var(--key-width) * 2);

                @include mobile {
                  display: flex;
                }
              }
            }
          }

          &:nth-child(2) {
            .key {
              flex: auto;
  
              &:last-child {
                width: calc(var(--key-width) * 4);
              }
            }
          }

          &:nth-child(3) {
            .key {
              &:first-child {
                width: calc(var(--key-width) * 2);
                flex: auto;
              }
  
              &:last-child {
                
                flex: auto;
              }
            }
          }
  
          &:nth-child(4){
            .key {
              &:first-child{
                flex: auto;
                width: calc(var(--key-width) * 2.5);
              }
              &:last-child {
                flex: auto;
                width: calc(var(--key-width) * 2.5);
              }
            }
          }

          &:nth-child(5) {
            .key {
              &:first-child,
              &:last-child {
                flex: auto;
                width: calc(var(--key-width) * 3);
              }
            }
          }
  
          &:nth-child(6) {
            .key {
              &:first-child {
                width: calc(var(--key-width) * 2.5);
              }
  
              &:nth-child(3) {
                flex: auto;
              }
  
              &:nth-child(4) {
                width: calc(var(--key-width) * 2);
              }
            }
          }
        }
      }
    }
  }
  

.ru{
    @include mobile {
      display: none;
    }
}