@import '../../styles/mixins/breakpoints.scss';

.translator{
    display: flex;
    flex-direction: column;
    margin: 5vh 0px;
    border-radius: 5px;
    
    
    color: black;
    // background-color: whitesmoke;
    // box-shadow: 0 0 3px var(--base-block);

    @include tablet {
        margin: 0;
        box-shadow: none;
    }
    .switcher{
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap:5vw;
        height: auto;
        margin: 30px;
        margin-bottom: 0px;

        &__lang{

            box-sizing: border-box;
            min-width: 150px;
            border: 2px solid #7A7A7A;
            padding: 6px 12px;
            font-size: 16px;
            border-radius: 8px;
            text-align: center;
            

            @include mobile {
                font-size: 14px;
                min-width: 100px;
                
            }
        }
 
    }

    .container{
        display: flex;
        flex-direction: row;
        margin: 30px;
        margin-top: 0;
        gap: 15px;

        @include tablet {
            flex-direction: column;
            margin-top: 15px;
        }
        .field{
            width: 50vw;
            
            @include tablet {
                width: auto;
            }
            
            &__hr {
                margin: 20px 0;
                padding: 0;
                height: 0;
                border: none;
                border-top: 2px solid #7A7A7A;
                @include tablet {
                    display: none;
                }
            }

            &__wrapper{
                
                border: 2px solid #7A7A7A;
                border-radius: 10px;
                overflow: hidden;
                width: 40vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                box-shadow: inset 0 0 3px #7A7A7A;
                position: relative;
                @include tablet {
                    margin: auto;
                    width: 100%;
                }
            }

            &__text{
                outline: none;
                padding: 12px;
                box-shadow: inset 0 0 5px #7A7A7A;
                font-size: 18px;
                line-height: 26px;
                resize: none;
                min-height: 20vh;
                overflow: hidden;
                outline: none;
                border: none;

                @include mobile {
                    font-size: 14px;
                    line-height: 20px;
                }
                
                &_readOnly{
                    cursor: default;
                    -webkit-appearance:none;

                }
                &_readOnly:focus {
                    outline:0px none transparent;
                    
                }
            }

            &__tools{
                background-color: #7A7A7A;
                box-sizing: border-box;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 8px 12px;
                color:white;

                &_wrap{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 80%;
                    gap: 15px;
                }

                @include mobile {
                    height: 30px;
                    font-size: smaller;
                }
            }
            
        }
    }
}